In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import csv
import os
from datetime import datetime
TS_LENGTH = 2000

In [0]:
#подключение к файлам google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data_root_path = 'drive/My Drive/3 курс/data' #путь к датасету
root = 'drive/My Drive/3 курс'

In [0]:
scores = pd.read_csv(data_root_path + '/scores.csv')

In [0]:
condition_path = data_root_path + '/condition/condition_{}.csv' 
control_path = data_root_path + '/control/control_{}.csv'    

condition_raw = [
    np.array(pd.read_csv(condition_path.format(x)))
    for x in range(1, 24) #Общий массив всех пациентов с активностью каждого человека.
]


control_raw = [
    np.array(pd.read_csv(control_path.format(x)))
    for x in range(1, 33) #Общий массив всех здоровых людей с активностью каждого человека. 
]

In [0]:
#сгенерируем таблицы содержащие только время и активность для всех control

for i in range(len(control_raw)): #проходимся по всем файлам
    curr_file = control_raw[i]
    with open(data_root_path + '/control_time_activity/control_{}.csv'.format(i+1), 'w') as csvfile:
        filewriter = csv.writer(csvfile, delimiter=',',
                                quotechar='|', quoting=csv.QUOTE_MINIMAL)
        filewriter.writerow(['time', 'activity'])
        
        for j in range(len(curr_file)): #количество строк в файле
          curr_str = curr_file[j]
          curr_time = datetime.strptime(curr_str[0], "%Y-%m-%d %H:%M:%S").time().hour
          filewriter.writerow([curr_time, curr_str[2]])

control_time_activity = pd.read_csv(data_root_path + '/control_time_activity/control_1.csv')
control_time_activity.head()

   time  activity
0    15        60
1    15         0
2    15       264
3    15       662
4    15       293

In [0]:
#сгенерируем таблицы содержащие только время и активность для всех condition

for i in range(len(condition_raw)): #проходимся по всем файлам
    curr_file = condition_raw[i]
    with open(data_root_path + '/condition_time_activity/condition_{}.csv'.format(i+1), 'w') as csvfile:
        filewriter = csv.writer(csvfile, delimiter=',',
                                quotechar='|', quoting=csv.QUOTE_MINIMAL)
        filewriter.writerow(['time', 'activity'])
        
        for j in range(len(curr_file)): #количество строк в файле
          curr_str = curr_file[j]
          curr_time = datetime.strptime(curr_str[0], "%Y-%m-%d %H:%M:%S").time().hour
          filewriter.writerow([curr_time, curr_str[2]])

condition_time_activity = pd.read_csv(data_root_path + '/condition_time_activity/condition_1.csv')
condition_time_activity.head()

   time  activity
0    12         0
1    12       143
2    12         0
3    12        20
4    12       166

In [0]:
condition = np.load(
    os.path.join(root, "condition_{}_emb.npy").format(TS_LENGTH))
control = np.load(os.path.join(root, "control_{}_emb.npy").format(TS_LENGTH))
X = np.concatenate((condition, control), axis=0)
y = np.array([0] * len(condition) + [1] * len(control))